<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div id="login-box">
                <div id="login-box-holder">
                    <div class="row">
                        <div class="col-xs-12">
                            <header id="login-header">
                                <div id="login-logo">
                                    <img src="./assets/img/logo.png" alt="" />
                                </div>
                            </header>
                            <div id="login-box-inner">
                                <div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input class="form-control" name="username" type="text"
                                            placeholder="Email / Username" [(ngModel)]="data.email">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                        <input type="password" class="form-control" name="passwor"
                                            placeholder="Contraseña" [(ngModel)]="data.password">
                                    </div>
                                    <div id="remember-me-wrapper">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="checkbox-nice">
                                                    <input type="checkbox" id="remember-me" checked="checked" />
                                                    <label for="remember-me">
                                                        Recordarme
                                                    </label>
                                                </div>
                                            </div>
                                            <a href="#" id="login-forget-link" class="col-xs-6">
                                                Recuperar Contraseña?
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button type="submit" [disabled]="btnDisabled" (click)="login()" class="btn btn-success col-xs-12">Login</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>