<div id="content-wrapper" class="contents">
    <div class="row">
        <div class="col-lg-12">
            <div class="row" *ngIf="_dataConfig.vista != 'whatsap'">
                <div class="col-lg-12">
                    <div id="content-header" class="clearfix">
                        <div class="pull-left">
                            <ol class="breadcrumb">
                                <li><a [routerLink]="[ '/dashboard/home' ]">Home</a></li>
                                <li><a [routerLink]="[ '/dashboard/galeria' ]">Galeria</a></li>
                                <li class="active"><span>{{ titulo }}</span></li>
                            </ol>
                            <h1> {{ titulo }} Galeria</h1>
                        </div>
                        <div class="text-right">
                            <button [routerLink]="[ '/dashboard/galeria' ]" class="btn btn-light" type="button">
                                Volver
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="email-new-nano">
                    <div class="email-new-nano-content">
                        <div id="email-new-inner">
                            <div id="email-new-title" class="clearfix">
                                <span class="subject">Nuevo Galeria</span>
                            </div>
                            <div>
                                <div id="email-new-header content">
                                    <div class="row container">

                                        <div class="form-group col-12">
                                            <label for="exampleInpSubject" class="col-2">Titulo:</label>
                                            <div class="col-10">
                                                <input type="text" class="form-control form-control-sm" placeholder="Titulo..." [(ngModel)]="data.titulo" />
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="row form-group col-12">
                                                <button type="button" class="btn btn-primary" (click)="agregarMasRotador()">Agregar Mas</button>
                                                <ul class="list-group">
                                                    <li class="list-group-item" *ngFor="let item of data.listRotador; let i=index;">
                                                        <h1>Mensaje: {{ i }}</h1>
                                                        <!--<button type="button" class="btn btn-success" (click)="pushImg( item )" >Agregar Mas Imagen</button>-->
                                                        <br>
                                                        <div>
                                                            <ngx-dropzone (change)="onSelects($event, item); subirFile( item )" accept="image/jpeg,image/jpg,image/png" multiple="true"
                                                            maxFileSize="1500000">
                                                                <ngx-dropzone-label>Subir Fotos</ngx-dropzone-label>
                                                                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of item.files" [file]="f"
                                                                    [removable]="true" (removed)="onRemoves(f, item)">
                                                                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                                                </ngx-dropzone-image-preview>
                                                            </ngx-dropzone>
                                                        </div>
                                                        <ul *ngIf="item.galeriaList">
                                                            <li *ngFor="let key of item.galeriaList">
                                                                <img style="width: 155px; border-radius: 20px;" [src]="key.foto" alt="">
                                                                <!--<input type="text" aria-label="..." [(ngModel)]="key.foto" (change)="updateImgList( key )">-->
                                                                <button type="button" class="btn btn-danger" (click)="eliminarFoto( item, key.id )" >Eliminar Foto</button>
                                                            </li>
                                                        </ul>
                                                        <textarea class="form-control" [(ngModel)]="item.mensaje" rows="4" placeholder="Mensajes...."></textarea>
                                                        <button type="button" class="btn btn-danger" (click)="eliminarMensajes( item )" >Eliminar Galeria</button>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <button type="button" class="btn btn-primary" (click)="agregarMasRotador()">Agregar Mas</button>
                                                        <button type="button" class="btn btn-success" (click)="guardarMensajes()" *ngIf="data.id">Guardar Galeria</button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div id="email-new-footer">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-10 col-md-offset-2">
                                            <div class="pull-right">
                                                <div class="btn-group" *ngIf="_dataConfig.vista != 'whatsap'">
                                                    <button type="button" [routerLink]="[ '/dashboard/galeria' ]"
                                                        class="btn btn-danger"><i class="fa fa-times"></i>
                                                        Cancelar</button>
                                                </div>
                                                <div class="btn-group">
                                                    <button type="button" [disabled]="btnDisabled" *ngIf="id"
                                                        class="btn btn-success" (click)="submit()"><i
                                                            class="fas fa-pencil-alt"></i>Actualizar Datos</button>
                                                    <button type="button" [disabled]="btnDisabled" *ngIf="!id"
                                                        class="btn btn-success" (click)="submit()"><i
                                                            class="fa fa-send"></i>Gaurdar Galeria</button>
                                                    <!-- <button type="button" [disabled]="btnDisabled" *ngIf="id"
                                                        class="btn btn-success" (click)="renvio()"><i
                                                            class="fas fa-redo"></i>Renvio Whatsapp</button> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <ngx-spinner bdOpacity=0.9 bdColor="" size="default" color="#581f87" type="ball-pulse-sync"
                        [fullScreen]="false">
                    </ngx-spinner>
                </div>
            </div>
        </div>
    </div>
</div>