<div id="content-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div id="content-header" class="clearfix">
                        <div class="pull-left">
                            <ol class="breadcrumb">
                                <li><a href="#">Home</a></li>
                                <li class="active"><span>Dashboard</span></li>
                            </ol>
                            <h1>Dashboard</h1>
                        </div>
                        <div class="pull-right hidden-xs">
                            <div class="xs-graph pull-left">
                                <div class="graph-label">
                                    <b><i class="fa fa-shopping-cart"></i> 838</b> Orders
                                </div>
                                <div class="graph-content spark-orders"></div>
                            </div>
                            <div class="xs-graph pull-left mrg-l-lg mrg-r-sm">
                                <div class="graph-label">
                                    
                                </div>
                                <div class="graph-content spark-revenues"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="main-box small-graph-box emerald-bg">
                        <div class="box-button">
                            <a href="#" class="box-close tooltips" data-toggle="tooltip"
                                title="Close Panel"><i class="fa fa-times"></i></a>
                        </div>
                        <span class="value">69,600</span>
                        <span class="headline">Visits</span>
                        <div class="progress">
                            <div style="width: 84%;" aria-valuemax="100" aria-valuemin="0"
                                aria-valuenow="84" role="progressbar" class="progress-bar">
                                <span class="sr-only">84% Complete</span>
                            </div>
                        </div>
                        <span class="subinfo">
                            <i class="fa fa-caret-down"></i> 22% less than last week
                        </span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="main-box small-graph-box blue-bg">
                        <div class="box-button">
                            <a href="#" class="box-close tooltips" data-toggle="tooltip"
                                title="Close Panel"><i class="fa fa-times"></i></a>
                        </div>
                        <span class="value">923</span>
                        <span class="headline">Orders</span>
                        <div class="progress">
                            <div style="width: 42%;" aria-valuemax="100" aria-valuemin="0"
                                aria-valuenow="42" role="progressbar" class="progress-bar">
                                <span class="sr-only">42% Complete</span>
                            </div>
                        </div>
                        <span class="subinfo">
                            <i class="fa fa-caret-up"></i> 15% higher than last week
                        </span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="main-box small-graph-box red-bg">
                        <div class="box-button">
                            <a href="#" class="box-close tooltips" data-toggle="tooltip"
                                title="Close Panel"><i class="fa fa-times"></i></a>
                        </div>
                        <span class="value">2,562</span>
                        <span class="headline">Users</span>
                        <div class="progress">
                            <div style="width: 60%;" aria-valuemax="100" aria-valuemin="0"
                                aria-valuenow="60" role="progressbar" class="progress-bar">
                                <span class="sr-only">60% Complete</span>
                            </div>
                        </div>
                        <span class="subinfo">
                            <i class="fa fa-caret-up"></i> 10% higher than last week
                        </span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="main-box small-graph-box purple-bg">
                        <div class="box-button">
                            <a href="#" class="box-close tooltips" data-toggle="tooltip"
                                title="Close Panel"><i class="fa fa-times"></i></a>
                        </div>
                        <span class="value">$61,600</span>
                        <span class="headline">Revenue</span>
                        <div class="progress">
                            <div style="width: 77%;" aria-valuemax="100" aria-valuemin="0"
                                aria-valuenow="77" role="progressbar" class="progress-bar">
                                <span class="sr-only">77% Complete</span>
                            </div>
                        </div>
                        <span class="subinfo">
                            <i class="fa fa-caret-down"></i> 22% More than last week
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="main-box">
                        <header class="main-box-header clearfix">
                            <h2>Server Statistics</h2>
                            <div class="toolbar">
                                <div class="pull-left">
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-default btn-xs">Daily</a>
                                        <a href="#" class="btn btn-default btn-xs active">Monthly</a>
                                        <a href="#" class="btn btn-default btn-xs">Yearly</a>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <a aria-expanded="false"
                                            class="btn btn-default btn-xs dropdown-toggle"
                                            data-toggle="dropdown">
                                            Export <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li><a href="#">Export as PDF</a></li>
                                            <li><a href="#">Export as CSV</a></li>
                                            <li><a href="#">Export as PNG</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-cog"></i></a>
                                </div>
                            </div>
                        </header>
                        <div class="main-box-body clearfix">
                            <div id="hero-area"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="main-box feed">
                        <header class="main-box-header clearfix">
                            <h2 class="pull-left">Server status</h2>
                        </header>
                        <div class="main-box-body clearfix">
                            <div id="graph-flot-realtime"
                                style="height: 400px; padding: 0px; position: relative;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="main-box feed">
                        <header class="main-box-header clearfix">
                            <h2 class="pull-left">Project feed</h2>
                        </header>
                        <div class="main-box-body clearfix">
                            <ul>
                                <li class="clearfix">
                                    <div class="img">
                                        <img src="./assets/img/samples/robert-300.jpg" alt="" />
                                    </div>
                                    <div class="title">
                                        <a href="#">Robert Downey Jr.</a> took photo with Instagram.
                                    </div>
                                    <div class="post-time">
                                        Today 5:22 pm
                                    </div>
                                    <div class="time-ago">
                                        <i class="fa fa-clock-o"></i> 5 min.
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="img">
                                        <img src="./assets/img/samples/lima-300.jpg" alt="" />
                                    </div>
                                    <div class="title">
                                        <a href="#">Adriana Lima</a> checked in at Las Vegas Oscars
                                    </div>
                                    <div class="post-time">
                                        Yesterday 11:38 am
                                    </div>
                                    <div class="photos clearfix">
                                        <div class="item">
                                            <a href="#">
                                                <img src="./assets/img/samples/robert-300.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="#">
                                                <img src="./assets/img/samples/emma-300.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="#">
                                                <img src="./assets/img/samples/scarlett-300.jpg" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="time-ago">
                                        <i class="fa fa-clock-o"></i> 9 hours.
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="img">
                                        <img src="./assets/img/samples/emma-300.jpg" alt="" />
                                    </div>
                                    <div class="title">
                                        <a href="#">Emma Watson</a> commented on Jennifer Lawrence's video.
                                    </div>
                                    <div class="post-time">
                                        Today 11:59 pm
                                    </div>
                                    <div class="time-ago">
                                        <i class="fa fa-clock-o"></i> 28 min.
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="img">
                                        <img src="./assets/img/samples/ryan-300.jpg" alt="" />
                                    </div>
                                    <div class="title">
                                        <a href="#">Ryan Gosling</a> likes Ryan Gosling's link on his own
                                        Timeline.
                                    </div>
                                    <div class="post-time">
                                        Yesterday 9:43 pm
                                    </div>
                                    <div class="photos clearfix">
                                        <div class="item">
                                            <a href="#">
                                                <img src="./assets/img/samples/scarlett-300.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="#">
                                                <img src="./assets/img/samples/robert-300.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="#">
                                                <img src="./assets/img/samples/emma-300.jpg" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="time-ago">
                                        <i class="fa fa-clock-o"></i> 5 hours.
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="img">
                                        <img src="./assets/img/samples/kunis-300.jpg" alt="" />
                                    </div>
                                    <div class="title">
                                        <a href="#">Mila Kunis</a> invited you to his birthday party at her
                                        mansion.
                                    </div>
                                    <div class="post-time">
                                        Yesterday 7:50 am
                                    </div>
                                    <div class="time-ago">
                                        <i class="fa fa-clock-o"></i> 9 hours.
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="img">
                                        <img src="./assets/img/samples/emma-300.jpg" alt="" />
                                    </div>
                                    <div class="title">
                                        <a href="#">Emma Watson</a> commented on Jennifer Lawrence's video.
                                    </div>
                                    <div class="post-time">
                                        Today 11:59 pm
                                    </div>
                                    <div class="time-ago">
                                        <i class="fa fa-clock-o"></i> 28 min.
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="img">
                                        <img src="./assets/img/samples/lima-300.jpg" alt="" />
                                    </div>
                                    <div class="title">
                                        <a href="#">Adriana Lima</a> checked in at Las Vegas Oscars
                                    </div>
                                    <div class="post-time">
                                        Yesterday 11:38 am
                                    </div>
                                    <div class="photos clearfix">
                                        <div class="item">
                                            <a href="#">
                                                <img src="./assets/img/samples/robert-300.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="#">
                                                <img src="./assets/img/samples/emma-300.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="#">
                                                <img src="./assets/img/samples/scarlett-300.jpg" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="time-ago">
                                        <i class="fa fa-clock-o"></i> 9 hours.
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="main-box clearfix">
                        <header class="main-box-header clearfix">
                            <h2 class="pull-left">Last orders</h2>
                            <div class="filter-block pull-right">
                                <div class="form-group pull-left">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <i class="fa fa-search search-icon"></i>
                                </div>
                                <a href="#" class="btn btn-primary pull-right">
                                    <i class="fa fa-eye fa-lg"></i> View all orders
                                </a>
                            </div>
                        </header>
                        <div class="main-box-body clearfix">
                            <div class="table-responsive clearfix">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th><a href="#"><span>Order ID</span></a></th>
                                            <th><a href="#" class="desc"><span>Date</span></a></th>
                                            <th><a href="#" class="asc"><span>Customer</span></a></th>
                                            <th class="text-center"><span>Status</span></th>
                                            <th class="text-right"><span>Price</span></th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a href="#">#8002</a>
                                            </td>
                                            <td>
                                                2016/01/07
                                            </td>
                                            <td>
                                                <a href="#">Robert De Niro</a>
                                            </td>
                                            <td class="text-center">
                                                <span class="label label-success">Completed</span>
                                            </td>
                                            <td class="text-right">
                                                
                                            </td>
                                            <td class="text-center" style="width: 15%;">
                                                <a href="#" class="table-link">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i
                                                            class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#">#5832</a>
                                            </td>
                                            <td>
                                                2016/01/07
                                            </td>
                                            <td>
                                                <a href="#">John Wayne</a>
                                            </td>
                                            <td class="text-center">
                                                <span class="label label-warning">On hold</span>
                                            </td>
                                            <td class="text-right">
                                                
                                            </td>
                                            <td class="text-center" style="width: 15%;">
                                                <a href="#" class="table-link">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i
                                                            class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#">#2547</a>
                                            </td>
                                            <td>
                                                2016/01/07
                                            </td>
                                            <td>
                                                <a href="#">Anthony Hopkins</a>
                                            </td>
                                            <td class="text-center">
                                                <span class="label label-info">Pending</span>
                                            </td>
                                            <td class="text-right">
                                                
                                            </td>
                                            <td class="text-center" style="width: 15%;">
                                                <a href="#" class="table-link">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i
                                                            class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#">#9274</a>
                                            </td>
                                            <td>
                                                2016/01/07
                                            </td>
                                            <td>
                                                <a href="#">Charles Chaplin</a>
                                            </td>
                                            <td class="text-center">
                                                <span class="label label-danger">Cancelled</span>
                                            </td>
                                            <td class="text-right">
                                                
                                            </td>
                                            <td class="text-center" style="width: 15%;">
                                                <a href="#" class="table-link">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i
                                                            class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#">#8463</a>
                                            </td>
                                            <td>
                                                2016/01/07
                                            </td>
                                            <td>
                                                <a href="#">Gary Cooper</a>
                                            </td>
                                            <td class="text-center">
                                                <span class="label label-success">Completed</span>
                                            </td>
                                            <td class="text-right">
                                                
                                            </td>
                                            <td class="text-center" style="width: 15%;">
                                                <a href="#" class="table-link">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i
                                                            class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="main-box weather-box">

                        <div class="main-box-body clearfix">
                            <div class="main-box weather-box-large" style="margin-bottom:0">
                                <div class="main-box-body main-box-no-header clearfix">
                                    <div class="current" style="min-height:305px">
                                        <h4>Current weather</h4>
                                        <div class="place">
                                            <i class="fa fa-map-marker"></i> New York City
                                        </div>
                                        <div class="temp-out-wrapper clearfix">
                                            <canvas class="icon" id="current-weather" width="100"
                                                height="100"></canvas>
                                            <div class="temp-wrapper">
                                                <div class="temperature">
                                                    35<span class="sign">°</span>
                                                </div>
                                                <div class="desc">
                                                    Sunny day
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="next">
                                <ul class="clearfix">
                                    <li>
                                        <div class="day">
                                            MON
                                        </div>
                                        <div class="icon" title="Hot" data-toggle="tooltip">
                                            <i class="wi wi-hot"></i>
                                        </div>
                                        <div class="temperature">
                                            45<span class="sign">°</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="day">
                                            TUE
                                        </div>
                                        <div class="icon" title="Showers" data-toggle="tooltip">
                                            <i class="wi wi-day-showers"></i>
                                        </div>
                                        <div class="temperature">
                                            28<span class="sign">°</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="day">
                                            WED
                                        </div>
                                        <div class="icon" title="Cloudy" data-toggle="tooltip">
                                            <i class="wi wi-cloudy-windy"></i>
                                        </div>
                                        <div class="temperature">
                                            16<span class="sign">°</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="day">
                                            THU
                                        </div>
                                        <div class="icon" title="Thunderstom" data-toggle="tooltip">
                                            <i class="wi wi-thunderstorm"></i>
                                        </div>
                                        <div class="temperature">
                                            18<span class="sign">°</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="day">
                                            FRI
                                        </div>
                                        <div class="icon" title="Lightning" data-toggle="tooltip">
                                            <i class="wi wi-night-alt-lightning"></i>
                                        </div>
                                        <div class="temperature">
                                            22<span class="sign">°</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="main-box clearfix">
                        <header class="main-box-header clearfix">
                            <h2>Todo</h2>
                        </header>
                        <div class="main-box-body clearfix">
                            <ul class="widget-todo">
                                <li class="clearfix">
                                    <div class="name">
                                        <div class="checkbox-nice">
                                            <input type="checkbox" id="todo-1" />
                                            <label for="todo-1">
                                                New products introduction <span
                                                    class="label label-danger">High Priority</span>
                                            </label>
                                        </div>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="name">
                                        <div class="checkbox-nice">
                                            <input type="checkbox" id="todo-2" />
                                            <label for="todo-2">
                                                Checking the stock <span class="label label-success">Low
                                                    Priority</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="actions">
                                        <a href="#" class="table-link">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a href="#" class="table-link danger">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="name">
                                        <div class="checkbox-nice">
                                            <input type="checkbox" id="todo-3" checked="checked" />
                                            <label for="todo-3">
                                                Buying coffee <span class="label label-warning">Medium
                                                    Priority</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="actions">
                                        <a href="#" class="table-link">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a href="#" class="table-link danger">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="name">
                                        <div class="checkbox-nice">
                                            <input type="checkbox" id="todo-4" />
                                            <label for="todo-4">
                                                New marketing campaign <span class="label label-success">Low
                                                    Priority</span>
                                            </label>
                                        </div>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="name">
                                        <div class="checkbox-nice">
                                            <input type="checkbox" id="todo-5" />
                                            <label for="todo-5">
                                                Calling Mom <span class="label label-warning">Medium
                                                    Priority</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="actions">
                                        <a href="#" class="table-link badge">
                                            <i class="fa fa-cog"></i>
                                        </a>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="name">
                                        <div class="checkbox-nice">
                                            <input type="checkbox" id="todo-6" />
                                            <label for="todo-6">
                                                Ryan's birthday <span class="label label-danger">High
                                                    Priority</span>
                                            </label>
                                        </div>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="name">
                                        <div class="checkbox-nice">
                                            <input type="checkbox" id="todo-4" />
                                            <label for="todo-4">
                                                New marketing campaign <span class="label label-success">Low
                                                    Priority</span>
                                            </label>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="main-box clearfix">
                        <header class="main-box-header clearfix">
                            <h2>Conversation</h2>
                        </header>
                        <div class="main-box-body clearfix">
                            <div class="conversation-wrapper">
                                <div class="conversation-content">
                                    <div class="conversation-inner">
                                        <div class="conversation-item item-left clearfix">
                                            <div class="conversation-user">
                                                <img src="./assets/img/samples/ryan.png" alt="" />
                                            </div>
                                            <div class="conversation-body">
                                                <div class="name">
                                                    Ryan Gossling
                                                </div>
                                                <div class="time hidden-xs">January 17th 2016, 10:36 am
                                                </div>
                                                <div class="text">
                                                    I don't think they tried to market it to the
                                                    billionaire, spelunking,
                                                    base-jumping crowd.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="conversation-item item-right clearfix">
                                            <div class="conversation-user">
                                                <img src="./assets/img/samples/kunis.png" alt="" />
                                            </div>
                                            <div class="conversation-body">
                                                <div class="name">
                                                    Mila Kunis
                                                </div>
                                                <div class="time hidden-xs">January 17th 2016, 10:40 am
                                                </div>
                                                <div class="text">
                                                    The path of the righteous man is beset on all sides by
                                                    the iniquities of the
                                                    selfish and the tyranny of evil men. Blessed is he who,
                                                    in the name of charity and
                                                    good will.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="conversation-item item-right clearfix">
                                            <div class="conversation-user">
                                                <img src="./assets/img/samples/kunis.png" alt="" />
                                            </div>
                                            <div class="conversation-body">
                                                <div class="name">
                                                    Mila Kunis
                                                </div>
                                                <div class="time hidden-xs">January 17th 2016, 10:45 am
                                                </div>
                                                <div class="text">
                                                    The path of the righteous man is beset on all sides by
                                                    the iniquities of the
                                                    selfish and the tyranny of evil men. Blessed is he who,
                                                    in the name of charity and
                                                    good will.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="conversation-item item-left clearfix">
                                            <div class="conversation-user">
                                                <img src="./assets/img/samples/ryan.png" alt="" />
                                            </div>
                                            <div class="conversation-body">
                                                <div class="name">
                                                    Ryan Gossling
                                                </div>
                                                <div class="time hidden-xs">January 17th 2016, 10:50 am
                                                </div>
                                                <div class="text">
                                                    I don't think they tried to market it to the
                                                    billionaire, spelunking,
                                                    base-jumping crowd.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="conversation-item item-right clearfix">
                                            <div class="conversation-user">
                                                <img src="./assets/img/samples/kunis.png" alt="" />
                                            </div>
                                            <div class="conversation-body">
                                                <div class="name">
                                                    Mila Kunis
                                                </div>
                                                <div class="time hidden-xs">January 17th 2016, 11:07 am
                                                </div>
                                                <div class="text">
                                                    The path of the righteous man is beset on all sides by
                                                    the iniquities of the
                                                    selfish and the tyranny of evil men. Blessed is he who,
                                                    in the name of charity and
                                                    good will.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="conversation-item item-right clearfix">
                                            <div class="conversation-user">
                                                <img src="./assets/img/samples/kunis.png" alt="" />
                                            </div>
                                            <div class="conversation-body">
                                                <div class="name">
                                                    Mila Kunis
                                                </div>
                                                <div class="time hidden-xs">January 17th 2016, 11:16 am
                                                </div>
                                                <div class="text">
                                                    The path of the righteous man is beset on all sides by
                                                    the iniquities of the
                                                    selfish and the tyranny of evil men. Blessed is he who,
                                                    in the name of charity and
                                                    good will.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="conversation-item item-left clearfix">
                                            <div class="conversation-user">
                                                <img src="./assets/img/samples/ryan.png" alt="" />
                                            </div>
                                            <div class="conversation-body">
                                                <div class="name">
                                                    Ryan Gossling
                                                </div>
                                                <div class="time hidden-xs">January 17th 2016, 11:21 am
                                                </div>
                                                <div class="text">
                                                    I don't think they tried to market it to the
                                                    billionaire, spelunking,
                                                    base-jumping crowd.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="conversation-item item-right clearfix">
                                            <div class="conversation-user">
                                                <img src="./assets/img/samples/kunis.png" alt="" />
                                            </div>
                                            <div class="conversation-body">
                                                <div class="name">
                                                    Mila Kunis
                                                </div>
                                                <div class="time hidden-xs">January 17th 2016, 11:27 am
                                                </div>
                                                <div class="text">
                                                    The path of the righteous man is beset on all sides by
                                                    the iniquities of the
                                                    selfish and the tyranny of evil men. Blessed is he who,
                                                    in the name of charity and
                                                    good will.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="conversation-new-message">
                                    <form>
                                        <div class="form-group">
                                            <textarea class="form-control chat-input" rows="2"
                                                placeholder="Enter your message..."></textarea>
                                        </div>
                                        <div class="clearfix chat-send">
                                            <button type="submit" class="btn btn-success pull-right">Send
                                                message</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-xs-12">
                    <div class="main-box">
                        <header class="main-box-header clearfix">
                            <h2 class="pull-left">Visitors location</h2>
                            <div class="icon-box pull-right">
                                <a href="#" class="btn pull-left">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" class="btn pull-left">
                                    <i class="fa fa-cog"></i>
                                </a>
                            </div>
                        </header>
                        <div class="main-box-body clearfix">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="world-map" style="width: 100%; height: 400px"></div>
                                </div>
                                <div class="col-md-12">
                                    <div class="map-stats">
                                        <div class="table-responsive">
                                            <table class="table table-condensed table-hover">
                                                <thead>
                                                    <tr>
                                                        <th><span>Country</span></th>
                                                        <th class="text-center"><span>Last Visit</span></th>
                                                        <th class="text-center"><span>Status</span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            USA
                                                        </td>
                                                        <td class="text-center">
                                                            2016/01/07
                                                        </td>
                                                        <td class="text-center status green">
                                                            <i class="fa fa-level-up"></i> 27%
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Russia
                                                        </td>
                                                        <td class="text-center">
                                                            2016/01/07
                                                        </td>
                                                        <td class="text-center status red">
                                                            <i class="fa fa-level-down"></i> 43%
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            China
                                                        </td>
                                                        <td class="text-center">
                                                            2016/01/07
                                                        </td>
                                                        <td class="text-center status green">
                                                            <i class="fa fa-level-up"></i> 18%
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            India
                                                        </td>
                                                        <td class="text-center">
                                                            2016/01/07
                                                        </td>
                                                        <td class="text-center status green">
                                                            <i class="fa fa-level-up"></i> 63%
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Australia
                                                        </td>
                                                        <td class="text-center">
                                                            2016/01/07
                                                        </td>
                                                        <td class="text-center status red">
                                                            <i class="fa fa-level-down"></i> 82%
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Canada
                                                        </td>
                                                        <td class="text-center">
                                                            2016/01/07
                                                        </td>
                                                        <td class="text-center status red">
                                                            <i class="fa fa-level-down"></i> 11%
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Argentina
                                                        </td>
                                                        <td class="text-center">
                                                            2016/01/07
                                                        </td>
                                                        <td class="text-center status green">
                                                            <i class="fa fa-level-up"></i> 74%
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>