<div id="content-wrapper" class="contents">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div id="content-header" class="clearfix">
                        <div class="pull-left">
                            <ol class="breadcrumb">
                                <li><a [routerLink]="[ '/dashboard/home' ]">Home</a></li>
                                <li><a [routerLink]="[ '/dashboard/mensajes' ]">Mensajes</a></li>
                                <li class="active"><span>{{ titulo }}</span></li>
                            </ol>
                            <h1> {{ titulo }} Mensajes</h1>
                        </div>
                        <div class="text-right">
                            <button [routerLink]="[ '/dashboard/mensajes' ]" class="btn btn-light" type="button">
                                Volver
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <header class="main-box-header clearfix">
                    <h2>Drives</h2>
                </header>
                <div class="row">
                    <div class="conversation-wrapper">
                        <div class="conversation-content">
                            <div class="conversation-inner" *ngFor="let item of listChat">
                                <div class="conversation-item item-left clearfix">
                                    <div class="conversation-user">
                                        <img [src]="item.foto || './assets/img/samples/ryan.png'" alt="" />
                                    </div>
                                    <div class="conversation-body" *ngIf="data.emisor.id == item.emisor.id">
                                        <div class="name">
                                            {{ item.emisor.nombre }}
                                        </div>
                                        <div class="time hidden-xs">
                                            {{ item.createdAt }}
                                        </div>
                                        <div class="text">
                                            {{ item.text }}
                                        </div>
                                    </div>
                                </div>
                                <div class="conversation-item item-right clearfix" *ngIf="data.emisor.id != item.emisor.id">
                                    <div class="conversation-user">
                                        <img [src]="item.foto || './assets/img/samples/kunis.png'" alt="" />
                                    </div>
                                    <div class="conversation-body">
                                        <div class="name">
                                            {{ item.reseptor.nombre }}
                                        </div>
                                        <div class="time hidden-xs">
                                            {{ item.createdAt }}
                                        </div>
                                        <div class="text">
                                            {{ item.text }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="conversation-new-message">
                            <form>
                                <div class="form-group">
                                    <textarea class="form-control" rows="2"
                                        placeholder="Enter your message..."></textarea>
                                </div>
                                <div class="clearfix">
                                    <button type="submit"
                                        class="btn btn-success pull-right">Send
                                        message</button>
                                </div>
                            </form>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>