<div id="content-wrapper" class="contents">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div id="content-header" class="clearfix">
                        <div class="pull-left">
                            <ol class="breadcrumb">
                                <li><a [routerLink]="[ '/dashboard/home' ]">Home</a></li>
                                <li><a [routerLink]="[ '/dashboard/mandados' ]">Mandados</a></li>
                                <li class="active"><span>{{ titulo }}</span></li>
                            </ol>
                            <h1> {{ titulo }} Mandados</h1>
                        </div>
                        <div class="text-right">
                            <button [routerLink]="[ '/dashboard/mandados' ]" class="btn btn-light" type="button">
                                Volver
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <header class="main-box-header clearfix">
                    <h2>Comentario</h2>
                </header>
                <div class="row">
                    <div class="main-box feed">
                        <div class="main-box-body clearfix">
                            <ul>
                                <li class="clearfix" *ngFor="let item of listComentario">
                                    <div class="img">
                                        <img class="fotoLogo"
                                            [src]="item.usuario.foto || './assets/imagenes/perfil.png'" alt="" />
                                    </div>
                                    <div class="title">
                                        <a class="pointer">{{ item.usuario.nombre }}</a> {{ item.usuario.apellido }}
                                    </div>
                                    <div class="post-time">
                                        {{ item.descripcion }}    
                                    </div>
                                    <div class="time-ago">
                                        <div class="clasificacion">
                                            <div class="ion-text-center">
                                              <input id="radio1" [disabled]="true" type="radio" name="estrellas" value="5" [(ngModel)]="item.valoracion">
                                              <label class="label" [ngClass]="{'checkcolor':item.valoracion >=5}" for="radio1">★</label>
                                              <input id="radio2" [disabled]="true" type="radio" name="estrellas" value="4" [(ngModel)]="item.valoracion">
                                              <label class="label" [ngClass]="{'checkcolor':item.valoracion >=4}" for="radio2">★</label>
                                              <input id="radio3" [disabled]="true" type="radio" name="estrellas" value="3" [(ngModel)]="item.valoracion">
                                              <label class="label" [ngClass]="{'checkcolor':item.valoracion >=3}" for="radio3">★</label>
                                              <input id="radio4" [disabled]="true" type="radio" name="estrellas" value="2" [(ngModel)]="item.valoracion">
                                              <label class="label" [ngClass]="{'checkcolor':item.valoracion >=2}" for="radio4">★</label>
                                              <input id="radio5" [disabled]="true" type="radio" name="estrellas" value="1" [(ngModel)]="item.valoracion">
                                              <label class="label" [ngClass]="{'checkcolor':item.valoracion >=1}" for="radio5">★</label>
                                            </div>
                                          </div> 
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>